.flex-container {
    display: flex;  
}
body {
    background-color: #dAA520;
}
.cont {
    width: 365px;
    height: 365px;
    background-color: #297E40;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 32px;
}
.nam {
    width: 365px;
    height: 365px;
    border-radius: 90px;
    opacity: 90%;
    background-color: #8E2877;
    margin-left: 30px ;
    margin-top: 32px;
}
.teg {
    width: 365px;
    height: 365px;
    border-radius: 20px;
    background-color: #361BA4;
    margin-left: 30px;
    margin-top: 32px;
}